/* Reset
***************************************************************/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, a, abbr, acronym, address, big, cite, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
}

header, footer, aside, nav, article {
    display: block;
}

/* General
***************************************************************/
body {
    font-family: 'Segoe UI', Tahoma, Arial, Helvetica, sans-serif;
    height: 100%;
    text-align: left;
    color: #111;
}

p {
    margin-bottom: 1.5882em;
    line-height: 1.5882em;
    text-align: justify;
}

/* Headings */
h1, h2, h3, h4, h5, h6, legend {
    font-weight: normal;
    font-style: normal;
}

h1 {
    font-size: 160%;
}

h2 {
    font-size: 145%;
}

h3 {
    font-size: 130%;
}

h4 {
    font-size: 120%;
}

h5 {
    font-size: 105%;
}

a, p a:focus, a, p a:hover {
    text-decoration: underline;
}

a, p a {
    color: #0B307F;
    text-decoration: none;
}

#header {
    color: #000;
    width: 100%;
    background: #fff;
    box-shadow: 0px 0px 5px #ccc;
}

#header-container {
    height: 70px;
    margin: auto;
    padding: 0 15px;
}

#branding {
    float: left;
}

#branding h5 {
    font-style: italic;
    color: #ccc;
}

#layout-navigation {
    float: right;
}

/* Structure
***************************************************************/

nav ul {
    padding: 0px;
    margin: 0px;
}

nav ul li {
    display: block;
    float: left;
    height: 70px;
    text-align: center;
}

nav ul li.current {

}

nav ul li.current a,  nav ul a:hover {
    border-bottom-width: 7px;
    border-bottom-style: solid;
}

nav ul li.current a {
    border-bottom-color: #000;
}

nav ul a:hover {
    border-bottom-color: #808080;
    text-decoration: none;
}

nav ul a {
    display: block;
    float: left;
    text-decoration: none;
    line-height: 24px;
    border-bottom-color: transparent;
    padding: 20px 20px;
    text-transform: lowercase;
    font-weight: 600;
}



/* Main
***************************************************************/
#main {
    margin: 20px auto 20px auto;
    padding: 0 10px;
    display: block;
}

#main:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.zone-sidebar {
    font-size: 0.8824em;
    padding-left: 30px;
    margin-top: 0;
}

.zone-sidebar h1 {
    margin-bottom: 1em;
    font-size: 1.3333em;
}

.blog-posts {
    list-style: none;
}

.metadata .published {
    display: block;
    text-align: right;
    overflow: hidden;
    width: 60px;
    height: 2.4444em;
    position: absolute;
    top: 38px;
    left: -75px;
    text-align: center;
    font-size: 12pt;
}

.blog-post {
    margin: 20px 0;
    background: #fff;
    position: relative;
}

.tags a {
    padding: 2px 5px;
    background: #ddd;
}

.tags a:hover {
    background: #ccc;
}

strong, .strong {
    font-weight: bold;
}

em, dfn, .italic {
    font-style: italic;
}

dfn {
    font-weight: bold;
}

.blog-posts p.summary {
    margin: 0;
}

.blog-posts p.summary p {
    margin: auto;
}

.blog-post ol li, .blog-post ul li, .widget-html-widget ul li {
    margin-left: 1.5941em;
}

.summary p a, .blog-post p a, .page p a  {
    font-weight: 700;
}

.share-this-bottom {
    margin-bottom: 15px;
}

footer {
    margin-bottom: 1.2em;
    margin: 0 auto;
    padding: 15px 20px 25px 20px;
    position: relative;
}

footer span {
    display: block;
    font-size: 0.675em;
    line-height: 1.4em;
    color: #ababab;
}